[Unit]
Description=rclone onedrive
Documentation=https://rclone.org
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/user/bin/rclone \
--config /home/brian/.config/rclone/rclone.conf \
mount OneDrive: /home/brian/OneDrive \
--vfs-cache-mode full \
--allow-other

Restart=on-failure
RestartSec=5
RestartPreventExitStatus=3

[Install]
WantedBy=multi-user.target
